@charset "UTF-8";
/* CSS Document created by Christy Chatmon, Spring 2019*/

body {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 1.5em;
	color: #27639E;
	background-color: #CBECFC;
	padding: 0 40px;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #000000;
}
h1 {
	font-size: 30px;
	padding: 1px 0;
	font-variant: normal;
	letter-spacing: .2em;
	line-height: 2em;
}
h2 {
	font-size: 23px;
	padding: 10px;
	font-variant: normal;
	letter-spacing: 0.2em;
	background-color: #FFFFFF;
}
h3 {
	font-size: 20px;
	background-color: #FFFFFF;
	letter-spacing: 0.2em;
	border-bottom-width: 2px;
	border-bottom-style: inset;
	border-bottom-color: #27639E;
	padding: 10px 0;
	font-variant: normal;
	font-style: italic;
}

/* link styles ---------------------------- */
a:link {
	font-weight: bolder;
	color: #17395C;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #7C96B0;
	text-decoration: none;
}
a:hover {
	color: #7C96B0;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 12px;
}
ol {
	margin-left: 14px;
}

/* table styles -------------------------------------- */
table {
	border: solid #27639E 2px;
}
td {
	padding: 6px;
	border: solid #27639E 1px;
}
th {
	font-weight: bold;
	background-color: #FFFFFF;
	text-align: center;
	padding: 10px;
	border: solid #27639E 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #27639E 1px;
}


img {
	border: solid #27639E 1px;

}

iframe {
	border: solid #27639E 1px;
	padding: 8px;
	margin: 8px;
}
